# 编译后的class文件
*.class

# 日志文件
*.log

# BlueJ文件
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# 打包文件
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# 虚拟机崩溃日志
hs_err_pid*
replay_pid*

# IDE特定文件和文件夹
.idea/
.vscode/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# Maven特定
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle特定
.gradle/
build/
!gradle-wrapper.jar

# Eclipse特定
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# MacOS系统文件
.DS_Store
.AppleDouble
.LSOverride